/* Setting Scale 1.067 */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 230px;
  font-size: 1rem;
  color: $color-black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}
body{
  background-color: $background-app;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  color: $color-black;
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1 {
  font-size: calc(1.476rem + 0.1vw);
  font-weight: bold;
}
h2 {
  font-size: calc(1.383rem + 0.1vw);
  font-weight: 700;
  text-transform: capitalize;
  padding-left: 12px;
}
h3 {
  position: relative;
  //font-size: calc(1.602rem + 1.5vw);
  font-size: calc(1.296rem + 0.1vw);;
}
h4 {
  font-size: calc(1.215rem + 0.1vw);
}
h5 {
  font-size: calc(1.138rem + 0.1vw);
}
h6 {
  font-size: calc(1.067rem + 0.1vw);
}
p{
  font-size: calc(1rem + 0.1vw);
}
.small{
  font-size: calc(0.937rem + 0.1vw);
}
a{
  text-decoration: none;
}

/* endSetting */
/* Navbar principale*/

.phone{
  display: block;
}
.pc{
  display: none;
}
/* endNavbar principale*/

/* debut footer */
footer {
  background-color: $color-black;
  color: $color-white;
  font-size: 16px;
  overflow: hidden;
}
/* end footer */
/* Tablette */
@media screen and (min-width: 768px) {
  /* seting */
  h1 {
    font-size: calc(1.476rem + 0.2vw);
  }
  h2 {
    font-size: calc(1.383rem + 0.2vw);
  }
  h3 {
    font-size: calc(1.296rem + 0.2vw);;
  }
  h4 {
    font-size: calc(1.215rem + 0.2vw);
  }
  h5 {
    font-size: calc(1.138rem + 0.2vw);
  }
  h6 {
    font-size: calc(1.067rem + 0.2vw);
  }
  p {
    font-size: calc(1rem + 0.2vw);
  }
  .small{
    font-size: calc(0.937rem + 0.1vw);
  }
  /* endSeting */

  /* Footer Tab*/
  footer {

  }
  /* endFooter  Tab*/

}
/* endTablette */
/* Desktops */
@media screen and (min-width: 992px) {
  .phone{
    display: none;
  }
  .pc{
    display: block;
  }

}
/* endDesktops */