/* Setting Scale 1.125 */

h1 {
  font-weight: 800;
  color: $primary;
  line-height: 1.12;
  margin: 0 0 0.15rem;
  font-size: 32px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;

  @include respond(tablet) {
    font-size: 40px;
  }

  @include respond(desktop) {
    font-size: 2.5rem;
  }
}
h2 {
  font-weight: 900;
  color: $primary;
  line-height: 1.2;
  margin: 0 0 1rem;
  font-size: 24px;
  font-family: "Cormorant", serif;
  &::first-letter {
    text-transform: uppercase;
  }
  span { color: $primary-light; }
  @include respond(tablet) {
    font-size: 28px;
  }
  @include respond(desktop) {
    font-size: 34px;
  }
}

p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  @include respond(tablet) {
    font-size: 16px;
  }
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}