$primary: #0D47A1;
$primary-light: #69C3E3;
$accent: #A8D63A;

$text-dark: #2B2F3A;
$text-light: #6B7280;

$bg-light: #F5F8FB;
$white: #FFFFFF;

$black: #0E182D;
$black-clair: #5C5C5C;
$black-opacity: rgba(75, 75, 75, 0.7);
$gris: #dfd9e3;

// spacing
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 48px;
$space-xl: 80px;